*{
	padding: 0;
	margin: 0;
	font-size: 15px;
}

body{
    padding: 10px 20px;
}
h1{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: #fe0102;
}
h2{
    padding: 5px 0;
    font-size: 15px;
}

.demo{
    border-bottom: 1px solid #eee;
}
.demo-item {
    position: relative;
    margin-bottom: 10px;
}

.demo-item input{
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	padding-left: 5px;
	font-size: 13px;
}

.demo-item h3 {
    padding-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #8d8c92;
}

.button-primary {
    margin: 0 auto;
    background-color: #04be02;
    border: 1px solid #04be02;
    color: #fff;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    line-height: 21px;
    font-size: 14px;
    text-align: center;
    -webkit-box-sizing: border-box;
    display: inline-block;
}

.content pre {
    margin: 6px 0;
    border: 1px solid #eee;
    padding: 6px 10px;
    overflow: auto;
    border-radius: 2px;
    background-color: #f8f8f9;
    line-height: 19px;
    font-size: 13px;
    white-space: pre;
}
.content code {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.75);
    background-color: #fee9cc;
    padding: 1px 3px;
    border-radius: 3px;
    margin-left: 3px;
    margin-right: 3px;
}
.content pre code, .content .highlight code {
    color: #5D6A6A;
    background-color: transparent;
    margin: auto;
    padding: 0;
}
.content blockquote {
    border-left: 0.4em solid #ddd;
    color: #777;
    margin: 15px 0;
    padding: 0 15px;
}
.demo select{
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.content blockquote p {
    color: #777;
}