<!doctype html>
<html lang="zh-CN" xml:lang="zh-CN">
<head>
<title>test</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<script src="http://h.cdn.pengpengla.com/h5lib/2.1.2/js/zepto.js"></script>
<link />
</head>

<body>
<div id="wrap"></div>
<script src="test.js"></script>
</body>
</html>	

